# Dependencies
node_modules/

# Build outputs
dist/
build/

# Database
*.sqlite
*.sqlite-journal
*.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment variables


# IDEs
.vscode/
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Backend specific
backend/token.txt
backend/dust.sqlite
backend/coverage/

# Frontend specific
frontend/dist/
frontend/.eslintcache
