@import url('https://fonts.googleapis.com/css2?family=Rye&family=Playfair+Display:wght@400;700&family=Merriweather:wght@300;400;700&family=Lato:wght@400;700;900&display=swap');
@import './styles/design-tokens.css';

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Rye&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  height: 100%;
}


/* SVG Filters for Textures */
.parchment-texture {
  filter: url(#parchment-texture);
}

.worn-edges {
  filter: url(#worn-edges);
}